<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header"/>

<body>
<!-- ======= Header ======= -->
<div th:replace="fragments/body-header :: body-header" id="header" class="fixed-top d-flex align-items-center"/>

<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="container">
    <div>
      <table class="table table-striped">
        <thead>
        <tr>
          <!--TODO : 목록 더 추가 -->
          <th>주문 번호</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="order, loop : ${orders}" th:object="order">
          <td>
            <a th:href="@{/orders/{id} (id=*{orderId})}" th:text="${orders.getTotalElements - (orders.number * orders.size) - loop.index}"></a>
          </td>
        </tr>
        </tbody>
      </table>


      <!-- 페이징 처리 -->
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">

          <li th:each="i : ${pages}">
            <a class="page-link" href="#"
               th:href="@{/orders(page=${i - 1})}"
               th:text="${i}"></a>
          </li>

        </ul>
      </nav>
      <!-- 페이징 처리 끝 -->


    </div>
  </div> <!-- /container -->
</section> <!-- End Hero -->

<!-- ======= Footer ======= -->
<div th:replace="fragments/footer :: footer"/>
</body>

</html>