<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/header :: header"/>

<body>
<div th:replace="fragments/body-header :: body-header" id="header" class="fixed-top d-flex align-items-center"/>

<section class="common notice">
  <div class="container">
    <h3 class="text-center mb-5">공지사항</h3>

    <!--운영자만 보일 수 있게-->
    <div class="admin-btn" sec:authorize="hasRole('ROLE_ADMIN')">
      <button class="btn-dark btn" type="button" th:onclick="|location.href='@{/notices/new}'|">글 작성하기</button>
    </div>

    <table class="table table-sm">
      <thead>
      <tr>
        <th>번호</th>
        <th class="title">제목</th>
        <th>글쓴이</th>
        <th>작성일자</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="notice, loop : ${notices}" th:object="${notice}">
        <td class="element" th:text="${notices.getTotalElements - (notices.number * notices.size) - loop.index}"></td>
        <td>
          <a th:href="@{/notices/{id} (id=*{id})}" th:text="*{title}"></a>
        </td>
        <td class="element" th:text="*{memberEmail}"></td>
        <td class="element" th:text="${#temporals.format(notice.createDate, 'yyyy-MM-dd HH:mm')}"></td>
      </tr>
      </tbody>
    </table>

    <!--페이징-->
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li th:each="i : ${pages}">
          <a class="page-link" href="#" th:href="@{/notices(page=${i - 1})}" th:text="${i}"></a>
        </li>
      </ul>
    </nav>
    <!--페이징-->
  </div>
</section>

<div th:replace="fragments/footer :: footer"/>
</body>

</html>