<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header"/>

<body>
<div th:replace="fragments/body-header :: body-header" id="header" class="fixed-top d-flex align-items-center"/>

<section class="common notice">
  <div class="container">
    <h3 class="text-center mb-5">공지사항</h3>

    <form th:action th:object="${noticeSaveFormDto}" method="post">
      <div class="form">
        <div class="form-group">
          <label th:for="title">제목</label>
          <input type="text" th:field="*{title}" class="form-control">
          <div class="field-error" th:errors="*{title}"></div>
        </div>
        <br>
        <div class="form-group">
          <label th:for="content">내용</label>
          <textarea th:field="*{content}"></textarea>
          <div class="field-error" th:errors="*{content}"></div>
        </div>
        <div class="notice-btn" sec:authorize="hasRole('ROLE_ADMIN')">
          <button type="submit" class="btn btn-dark">등록</button>
        </div>
      </div>
    </form>
  </div> <!-- /container -->
</section> <!-- End Hero -->

<div th:replace="fragments/footer :: footer"/>
</body>
</html>
