<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<!-- ======= Header ======= -->
<header th:fragment="body-header" id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center">
    <div class="logo me-auto">
      <h1><a href="/" th:href="@{/}">Try It</a></h1>
    </div>
    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto active" href="/" th:href="@{/}">Home</a></li>
        <li><a class="nav-link scrollto" href="/members/new"
               sec:authorize="isAnonymous()" th:href="@{/members/new}">Join</a></li>
        <li><a class="nav-link scrollto" href="/members/login"
               sec:authorize="isAnonymous()" th:href="@{/members/login}">Login</a></li>
        <li><a class="nav-link scrollto" href="/members/logout"
               sec:authorize="isAuthenticated()" th:href="@{/members/logout}">Logout</a></li>
        <li class="dropdown"><a href="#" sec:authorize="isAuthenticated()"><span>MyPage</span><i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a class="nav-link scrollto" href="/members/edit"
                   sec:authorize="isAuthenticated()" th:href="@{/members/edit}">Modify</a></li>
            <li><a class="nav-link scrollto" href="/members/edit"
                   sec:authorize="isAuthenticated()" th:href="@{/carts}">Cart</a></li>
            <li><a class="nav-link scrollto" href="/members/edit"
                   sec:authorize="isAuthenticated()" th:href="@{/orders}">Order List</a></li>
          </ul>
        </li>
        <li><a class="nav-link scrollto" href="/items" th:href="@{/items}">shop</a></li>
        <li class="dropdown"><a href="#"><span>board</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a class="nav-link scrollto" href="/notices" th:href="@{/notices}">Notice</a></li>
            <li><a class="nav-link scrollto" href="/questions" th:href="@{/qna}">QnA</a></li>
          </ul>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
  </div>
</header>
<!-- End Header -->

