<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- ======= Footer ======= -->
<footer th:fragment="footer" id="footer">
  <div class="footer-top">
    <div class="container">
      <h4>About Developer</h4>

      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <p>👨‍💻 김대준</p>
            <p>Dev Part : Board, Order</p>
            <a href="https://github.com/kureung">GitHub Link (Click!)</a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <p>👩‍💻 임앤유정</p>
            <p>Dev Part : Item, Cart</p>
            <a href="https://github.com/jolly-n">GitHub Link (Click!)</a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <p>👩‍💻 김정현</p>
            <p>Dev Part : Member, Payment</p>
            <a href="https://github.com/Kimjunghyunn">GitHub Link (Click!)</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="copyright">
      &copy; Copyright <strong><span>Scaffold</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div>

  <!--공통 js 부분-->
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
  </a>

  <!-- Vendor JS Files -->
  <script src="vendor/aos/aos.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/glightbox/js/glightbox.min.js"></script>
  <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="vendor/swiper/swiper-bundle.min.js"></script>
  <script src="vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../js/main.js"></script>

</footer><!-- End Footer -->

