<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- ======= Footer ======= -->
<footer th:fragment="footer" id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

            <div class="col-lg-3 col-md-6">
                <div class="footer-info">
                <h3>김대준</h3>
                <p>
                    코멘트 or 좌우명 or 개발파트<br><br>
                    <strong>Email:</strong> info@example.com<br>
                </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-info">
                <h3>임앤유정</h3>
                <p>
                    코멘트 or 좌우명 or 개발파트<br><br>
                    <strong>Email:</strong> info@example.com<br>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-info">
                <h3>김정현</h3>
                <p>
                    코멘트 or 좌우명 or 개발파트<br><br>
                    <strong>Email:</strong> info@example.com<br>
                </p>
                <!-- <div class="social-links mt-3">
                    <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                    <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                    <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div> -->
                </div>
            </div>

            <div class="col-lg-2 col-md-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">shop</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">notice</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">QnA</a></li>
                </ul>
            </div>
            </div>
        </div>
        </div>

        <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Scaffold</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer><!-- End Footer -->

