<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- ======= Footer ======= -->
<footer th:fragment="footer" id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <h4>김대준</h4>
            <p>
              코멘트 or 좌우명 or 개발파트<br><br>
              <strong>GitHub:</strong> kureungkureung<br>
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <h4>임앤유정</h4>
            <p>
              코멘트 or 좌우명 or 개발파트<br><br>
              <strong>GitHub:</strong> jolly-n<br>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <h4>김정현</h4>
            <p>
              코멘트 or 좌우명 or 개발파트<br><br>
              <strong>GitHub:</strong> Kimjunghyunn<br>
            </p>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="/" th:href="@{/}">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/items" th:href="@{/items}">shop</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/notices" th:href="@{/notices}">notice</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/questions" th:href="@{/questions}">QnA</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>Scaffold</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div>

  <!--공통 js 부분-->
  <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
  </a>

  <!-- Vendor JS Files -->
  <script src="vendor/aos/aos.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/glightbox/js/glightbox.min.js"></script>
  <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="vendor/swiper/swiper-bundle.min.js"></script>
  <script src="vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../js/main.js"></script>

</footer><!-- End Footer -->

