<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

  <title>츄라잇 Try It</title>
  <meta content="" name="description"/>
  <meta content="" name="keywords"/>

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon"/>
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon"/>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com"/>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
  <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="vendor/aos/aos.css" rel="stylesheet" th:href="@{/vendor/aos/aos.css}"/>
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"/>
  <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}"/>
  <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet" th:href="@{/vendor/boxicons/css/boxicons.min.css}"/>
  <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet" th:href="@{/vendor/glightbox/css/glightbox.min.css}"/>
  <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet" th:href="@{/vendor/swiper/swiper-bundle.min.css}"/>

  <!-- Template Main CSS File -->
  <link href="css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>

  <!-- Custom CSS File -->
  <link rel="stylesheet" href="/css/common.css"/>
  <link rel="stylesheet" href="/css/cart.css"/>
  <link rel="stylesheet" href="/css/item.css"/>
  <link rel="stylesheet" href="/css/member.css"/>

  <!-- jQuery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <!-- iamport.Payment.js -->
  <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>

  <!-- ======================================================= * Template Name:
      Scaffold - v4.7.0 * Template URL:
      https://bootstrapmade.com/scaffold-bootstrap-metro-style-template/ * Author:
      BootstrapMade.com * License: https://bootstrapmade.com/license/
      ======================================================== -->
</head>

</html>
