/*--------------------------------------------------------------
# Common Section
--------------------------------------------------------------*/
.common {
  margin-top: 70px;
  padding: 70px 0;
}

/*--------------------------------------------------------------
# Page
--------------------------------------------------------------*/
.pagination {
  justify-content: center;
}