<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>

<body>
<!-- ======= Header ======= -->
<header th:replace="fragments/body-header :: body-header" id="header" class="fixed-top d-flex align-items-center"></header>

<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="container">
    <div class="hero-img" data-aos="fade-left">
      <img src="img/tryit-main-img.png" class="img-fluid" alt="">
    </div>
    <!-- </div> -->
  </div>
</section> <!-- End Hero -->


<main id="main"></main>

<!-- ======= Footer ======= -->
<footer th:replace="fragments/footer :: footer" id="footer"></footer>

</body>

</html>