<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/header :: header"></head>

<body>
<!-- ======= Header ======= -->
<div th:replace="fragments/body-header :: body-header" id="header" class="fixed-top d-flex align-items-center"></div>

<!-- ======= Item Section ======= -->
<section class="item item-detail">
  <div class="container">
    <div class="item-btn admin-btn" sec:authorize="hasRole('ROLE_ADMIN')">
      <!-- 관리자에게만 보이는 버튼 -->
      <a th:href="@{/items/{id}/update (id=${item.id})}" class="btn btn-outline-dark" role="button">상품 수정</a>
      <form th:action="@{/items/{id}/delete (id=${item.id})}" method="post">
        <button type="submit" class="btn btn-outline-danger">상품 삭제</button>
      </form>
    </div>

    <div class="row gy-4">
      <div class="item-img col-lg-7">
        <img th:src="|/files/${item.mainImage.getStoreFileName()}|" class="main-img">
      </div>
      <div class="item-info col-lg-5">
        <h2 th:text="${item.name}">상품 이름</h2>
        <hr/>
        <table>
          <th>price</th>
          <td>
            <span th:text="${item.price}">상품 가격</span>원
          </td>
        </table>

        <div class="order-info">
          <form th:action="@{/payment}" method="get">
            <input type="hidden" id="itemId" name=itemId th:value="${item.id}">
            <div class="quantity">
              <label for="quantity">수량</label>
              <input type="number" id="quantity" min="1" value="1" name="quantity">
            </div>
            <hr/>
            <!--<div class="total-price">
              총 상품금액 : <span>1000</span>원
            </div>-->
            <div class="order-click">
              <a href="" class="add-cart">
                <img src="/img/icon/add-to-cart-black.png">
              </a>
              <button type="submit" class="btn btn-outline-secondary">Buy Now</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div> <!-- /container -->
</section> <!-- End Item -->

<!-- ======= Footer ======= -->
<div th:replace="fragments/footer :: footer"></div>

<script>

</script>
</body>

</html>
