<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/header :: header"></head>

<body>
<!-- ======= Header ======= -->
<div th:replace="fragments/body-header :: body-header" id="header" class="fixed-top d-flex align-items-center"></div>

<!-- ======= Item Section ======= -->
<section class="item">
  <div class="container">
    <div class="item-btn admin-btn" sec:authorize="hasRole('ROLE_ADMIN')">
      <a th:href="@{/items/new}" class="btn btn-dark" role="button">상품 등록</a>
    </div>

    <div class="item-search">
      <div class="item-category-search">
        <form th:action method="get" th:object="${itemSearchCondition}">
          <input type="radio"
                 th:field="*{category}"
                 th:each="category : ${categories}"
                 th:value="${category}"
                 th:text="${category}">
          <button type="submit" class="btn btn-light">선택</button>
          <!--<button type="submit"
                  class="btn btn-light"
                  th:each="category : ${categories}"
                  th:value="${itemSearchCondition.category}"
                  th:text="${category}">카테고리
          </button>-->
        </form>
      </div>

      <div class="item-name-search">
        <form th:action method="get" th:object="${itemSearchCondition}">
          <input type="text" th:field="*{name}" placeholder=" 상품 이름을 입력하세요.">
        </form>
      </div>
    </div>

    <div class="item-list">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>이미지</th>
          <th>상품명</th>
          <th>가격</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="item : ${items}">
          <td>
            <a th:href="@{/items/{id}(id=${item.id})}">
              <img th:src="|/files/${item.mainImage.getStoreFileName()}|" width="200" height="200"/>
            </a>
          </td>
          <td th:text="${item.name}"></td>
          <td th:text="${item.price}"></td>
          </a></tr>
        </tbody>
      </table>
    </div>

    <div class="page">
      <ul class="pagination">
        <li th:each="page : ${pages}">
          <a class="page-link"
             th:href="@{/items(page=${page - 1}, name=${itemSearchCondition.name}, category=${itemSearchCondition.category})}"
             th:text="${page}">
          </a>
        </li>
      </ul>
    </div>
  </div> <!-- /container -->
</section> <!-- End Item -->

<!-- ======= Footer ======= -->
<div th:replace="fragments/footer :: footer"></div>
</body>

</html>