<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header"></head>

<body>
<!-- ======= Header ======= -->
<div th:replace="fragments/body-header :: body-header" id="header" class="fixed-top d-flex align-items-center"></div>

<!-- ======= Section ======= -->
<section class="common item">
  <div class="container">
    <form th:action th:object="${item}" method="post" enctype="multipart/form-data">

      <div class="form-group">
        <label th:for="category">카테고리</label>
        <select class="form-select" th:field="*{category}">
          <option th:each="category : ${categories}"
                  th:value="${category}"
                  th:text="${category}">CAT
          </option>
        </select>
        <div class="field-error" th:errors="*{category}">카테고리 오류</div>
      </div>

      <div class="form-group">
        <label th:for="name">상품명</label>
        <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요">
        <div class="field-error" th:errors="*{name}">상품명 오류</div>
      </div>

      <div>
        <label th:for="price">가격</label>
        <input type="text" th:field="*{price}" class="form-control" placeholder="가격을 입력하세요">
        <div class="field-error" th:errors="*{price}">가격 오류</div>
      </div>

      <div class="form-group">
        <label th:for="stockQuantity">재고</label>
        <input type="text" th:field="*{stockQuantity}" class="form-control" placeholder="재고를 입력하세요">
        <div class="field-error" th:errors="*{stockQuantity}">재고 오류</div>
      </div>

      <div class="form-group">
        <label th:for="mainImage">메인 이미지</label>
        <input type="file" th:field="*{mainImage}" class="form-control">
        <!--        <img th:src="|/files/*{mainImage.getStoreFileName()}|" width="100" height="100"/>-->
        <!--        <p th:text="*{mainImage.getOriginFileName()}">메인 이미지 파일명</p>-->
      </div>

      <div class="form-group">
        <label th:for="mainImage">상세 이미지</label>
        <input type="file" th:field="*{detailImage}" class="form-control">
        <!--        <img th:src="|/files/*{detailImage.getStoreFileName()}|" width="100" height="100"/>-->
        <!--        <p th:text="*{detailImage.getOriginFileName()}">상세 이미지 파일명</p>-->
      </div>

      <div class="item-btn update-btn">
        <button type="submit" class="btn btn-secondary">수정하기</button>
        <a th:href="@{/items}" class="btn btn-dark" role="button">목록으로</a>
      </div>

    </form>
  </div> <!-- /container -->
</section>

<!-- ======= Footer ======= -->
<div th:replace="fragments/footer :: footer"></div>
</body>

</html>