<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header"/>

<body>
<div th:replace="fragments/body-header :: body-header" id="header" class="fixed-top d-flex align-items-center"/>

<section id="hero">
  <div class="container">
    <div>
      <div>
        <button type="button" th:onclick="|location.href='@{/qna/new}'|">글 작성하기</button>
      </div>

      <div>
        <form th:action method="get" th:object="${questionSearchCondition}">
          <label th:for="name"> 검색</label>
          <input type="text" th:field="*{condition}" class="form-control">
          <button type="submit" class="btn btn-primary">검색</button>
        </form>

      </div>

      <table class="table table-sm">
        <thead>
        <tr>
          <th>번호</th>
          <th>제목</th>
          <th>답변 수</th>
          <th>글쓴이</th>
          <th>작성일자</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="question, loop : ${questions}" th:object="${question}">
          <td th:text="${questions.getTotalElements - (questions.number * questions.size) - loop.index}"></td>
          <td>
            <a th:href="@{/qna/{id} (id=*{questionId})}" th:text="*{title}"></a>
          </td>
          <td th:text="*{numberOfAnswer}"></td>
          <td th:text="*{email}"></td>
          <td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
      </table>

      <!-- 답변 페이징 처리 -->
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">

          <li th:each="i : ${pages}">
            <a class="page-link" href="#"
               th:href="@{/qna(page=${i - 1}, condition=${questionSearchCondition.condition})}"
               th:text="${i}"></a>
          </li>

        </ul>
      </nav>
      <!-- 답변 페이징 처리 끝 -->

    </div>
  </div>
</section>

<div th:replace="fragments/footer :: footer"/>
</body>

</html>